.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: lightgrey;
    width: 150px;
    height: 200px;
    border: 15px solid green;
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: LawnGreen;
    width: 150px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
  }